<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-header bg-success">Client List</div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <table class=" table table-bordered">
                            <thead>
                                <th>Sr No</th>
                                <th>Company Name</th>
                                <th>Person Name</th>
                                <th>Contact No</th>
                                <th>City</th>
                            </thead>
                            <tbody>
                                <tr>

                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card">
            <div class="card-header bg-success">New Client</div>
            <div class="card-body">
                <div class="row">
                    <div class="col-6">
                        <label for="">Person Name</label>
                        <input class="form-control" [(ngModel)]="clientObj.contactPersonName"  placeholder="">
                    </div>
                    <div class="col-6">
                        <label for="">Company Name</label>
                        <input class="form-control" [(ngModel)]="clientObj.companyName" placeholder="">
                    </div>
                    <div class="col-6">
                        <label for="">Contact No</label>
                        <input class="form-control" [(ngModel)]="clientObj.contactNo" placeholder="">
                    </div>
                    <div class="col-6">
                        <label for="">City</label>
                        <input class="form-control" [(ngModel)]="clientObj.city" placeholder="">
                    </div>
                    <div class="col-6">
                        <label for="">State</label>
                        <input class="form-control" [(ngModel)]="clientObj.state" placeholder="">
                    </div>
                    <div class="col-6">
                        <label for="">Pincode</label>
                        <input class="form-control" [(ngModel)]="clientObj.pincode" placeholder="">
                    </div>
                    <div class="col-6">
                        <label for="">Address</label>
                        <textarea class="form-control" [(ngModel)]="clientObj.address" placeholder=""></textarea>
                    </div>
                    <div class="col-6">
                        <label for="">Gst No</label>
                        <input class="form-control" [(ngModel)]="clientObj.gstNo" placeholder="">
                    </div>
                    <div class="col-6">
                        <label for="">Reg No</label>
                        <input class="form-control" [(ngModel)]="clientObj.regNo" placeholder="">
                    </div>
                </div>
                <div class="row pt-2">
                    <div class="col-12 text-center">
                        <button class="btn btn-primary mx-1" (click)="onClientSave()">Save</button>
                        <button class="btn btn-secondary mx-1">Cancle</button>
                    </div>

                </div>

            </div>
        </div>
    </div>

</div>