.toast-container {
    position: fixed;
    top: 20px;
    right: 1%;
    z-index: 9999;
  }
  
  .toast {
    display: flex;
    align-items: center;
    padding: 10px;
    margin: 5px;
    border-radius: 4px;
    background-color:transparent;
    color: #fff;
  }
  
  .toast-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
  }
  
  .toast-success {
    background-color: #28a745;
  }
  
  .toast-error {
    background-color: #dc3545;
  }
  
  .toast-info {
    background-color: #17a2b8;
  }
  
 